body {
font-family: Times New Roman, Serif;
margin: 0;
padding: 0;
text-align: center;
}

.container {
    max-width:1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
background: #pink;
text-align: center;
color: pink;
padding: 20px 0;
font-weight: bold;
font-size: 60px;
}

main {
padding: 20px;
text-align: center;

}

p {
font-family:cursive, lucida handwriting;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 20px;
}

p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:pink;
    padding-left: 20px;
    padding-right: 20px;
}

p3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rebeccapurple;
    padding-right: 20px ;
    padding-left: 20px;
}
nav{
padding: 20px;
text-align: center;
font-family: cursive;
background-color:pink;

}
nav ul li {
    display: inline;
   
}
nav ul li a {
    color: black;
    font-size: 25px ;
    padding: 20px 20px;
    text-transform: uppercase;
  
}

footer {
text-align: center;
padding: 10px 0;
background: pink;
color: black;
}

form {
    margin-top: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

